body {
  position: center;
  text-align: center;
}

.animal {
  border-bottom: 3px solid black;
}

.walrus-showing {
  display: none;
}

.clickable-walrus {
  cursor: pointer;
  color: #0088cc;
}

.clickable-walrus:hover {
  text-decoration: underline;
}

.wiki-page {
  display: none;
}

.clickable-giraffe {
  cursor: pointer;
  color: #0088cc;
}

.clickable-giraffe:hover {
  text-decoration: underline;
}

img {
  width: 50%;
  height: auto;
}

.click-cheetah {
  cursor: pointer;
  color: #0088cc;
}

.click-cheetah:hover {
  text-decoration: underline;
}

.light-mode {
  background-color: white;
  color: black;
}


.dark-mode {
  background-color: black;
  color: white;

}